# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
x = 6
print(type(x))

##### Assinging float

In [ ]:
y = 5.7 
print(type(y))

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
6 + 6

##### Subtraction

In [ ]:
7 - 3

##### Multiplication

In [ ]:
10 * 19

##### Division

In [ ]:
60 / 5

##### Floor Division

In [ ]:
6 // 3

##### Modulo

In [ ]:
16 % 2

##### Exponential

In [ ]:
10 ** 6

### String Input-Output

##### String Assignment

In [ ]:
name = "john doe"
print(name.title())

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print(15, -63, 84)

print('hello\n' , end=' ')

print(800, 15, -6, sep=':')

##### String Concatenation

In [ ]:
first_name = "jon"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

##### Type Conversion

In [ ]:
a = 9
b = 7.8
sum = a + b
print (sum)

print(type(sum))

##### input()

In [ ]:
x =input('type name here:')

print('Hello, ' +x)

##### format()

In [ ]:
name = "johnny"
age = 64
"hello, {}. You are {}.".format(name, age)

##### Old Way (python 2)

In [ ]:
name = "johnny"
age = 64
"Hello, %s. You are %s." % (name, age)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
input("Enter car information here:")

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

In [ ]:
x = ["baseball", "golf", "soccer"]
y = ["baseball", "golf", "soccer"]
print(x is y)

##### 'in' keyword

In [ ]:
sports = ["soccer", "baseball", "football"]
if "soccer" in sports:
    print("yes")

##### 'not in' keyword'

In [ ]:
27 not in [84, 98, 32, 27]

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [1]:
user_input = input("Enter a word:")
if 'p' in user_input:
    print("The letter 'p' is in the input!.")
else:
    print("The letter 'p' is not in the input.")

The letter 'p' is not in the input.

## Using 'and'/'or' with If Statements

In [ ]:
number = 7
if number> 5 and number <10:
    print("The number is between 5 and 10")


number = -6
if number <0 or number % 2==0:
    print("The number is either negative or divisable by 2")

### Elif Statements

In [ ]:
score = 85

if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
    print("YOur grade is:",grade)

### Else Statements

In [ ]:
^^

### For Loops

In [ ]:
for number in range(1, 10):
    print(number)

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for number in range(1.10):
    if number == 6:
        continue
    if number % 2 == 0:
        print(number)

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
search_number = 6

for number in numbers:
    if number == search_number:
        print("Number found!")
        break

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [2]:
for t in range(6):
    if t == 3: pass
    print(t)

0
1
2
3
4
5

##### Double For Loops

In [ ]:
fruits = ["apple", "pineapple", "grapefruit"]
colors = ["red", "yellow", "pink"]

for fruit in fruits:
    for color in colors:
        print(fruit, color)

### While Loops

In [ ]:
count = 0
while count < 5:
    print("Count is", count)
    count += 1

##### Looping 'While True'

In [ ]:
while True:
    user_input = input("Enter a number(or 'quit' to exit): ")

    if user_input == "quit":
        break

    number = int(user_input)
    print("Squared value:", number ** 2)

##### While & For Loops Used Together

In [ ]:
count = 0
while count <6:
    print("While loop iteration:", count)
    for i in range(2):
        print("For loop iteration:" , i)
        count += 1

### Built-In Functions

##### range()

In [ ]:
for num in range(1,10):
    print(num)

##### len()

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_length = len(my_list)
print("The length of the list is:", list_length)

The length of the list is: 10

##### help()

In [ ]:
help(list)

##### isinstance()

In [ ]:
x = 15
y = "Hello world"

print(isinstance(x, int)) # Check if x is an integer

print(isinstance(y, str)) # Check if y is a string

##### abs()

In [ ]:
x = -23
y = 34.2

print(abs(x)) # Get the absolute value of x

print(abs(y)) # Get the absolute value of y

### Try and Except

In [ ]:
try:
    num1 = 10
    num2 = int(input("Enter a number: "))
    result = num1 / num2
    print("The result is:", result)
except Exception as e:
    print("An error occured!:", str(e))

### Lists

##### Declaring Lists

In [ ]:
sports = ["baseball," "football", "hockey", "volleyball"]

##### Indexing a List

In [ ]:
sports = ["baseball", "football", "hockey", "volleyball"]

sliced_sports = sports[1:3]
print(sliced_sports)

##### .append()

In [ ]:
sports = ["baseball", "football", "hockey", "volleyball"]
print(sports)

sports.append("basketball")
print(sports)

##### .insert()

In [ ]:
sports = ["baseball", "football", "hockey", "volleyball"]
print(sports)

sports.insert(1, "soccer")
print(sports)

##### .pop()

In [ ]:
sports = ["baseball", "football", "hockey", "volleyball"]
print(sports)

last_sport = sports.pop()
print(last_sport)
print(sports)


##### .remove()

In [ ]:
sports = ["baseball", "football", "hockey", "volleyball"]
print(sports)

sports.remove("football")
print(sports)

##### del()

In [ ]:
sports = ["baseball", "football", "hockey", "volleyball"]
print(sports)

del sports[2]

##### Concatenating Two Lists

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list1.extend(list2)
print(list1)

##### Lists Within Lists

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
nested_list = [list1, list2]

print(nested_list)

##### Looping Through Lists

In [ ]:
sports = ["baseball", "football", "hockey", "volleyball"]

for sport in sports:
    print(sport)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
def print_cube_numbers():
    num = 1
    while True:
        cube = num ** 3
        if cube > 1000:
            break
        print(cube)
        num += 1

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
    
primes = [num for num in range(2, 101) if is_prime(num)]

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
def categorize_age():
    age = int(input("Please enter your age: "))
    if age < 18:
        print("You are a kid!")
    elif age >= 18 and age <= 65:
        print("You are an adult!")
    else:
        print("You are a senior!")